:root{
  max-width: 100%;

  --almost-white: hsl(0, 0%, 98%);
  --md-gray: hsl(0, 0%, 41%);
  --almost-black: hsl(0, 0%, 8%)
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
  outline: 1px red solid;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  margin: 0;
  font-size: 18px;
  font-family: 'Epilogue', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.content{
  /* padding: 0px 1rem; */
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  align-items: center;
  
}

.clients {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 2rem;
  padding: 0px 16px;
}


h1{
  font-weight: 700;
}

p{
  font-weight: 500;
  color: var(--md-gray);
  text-align: center;
}

.btn {
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  padding: 1rem 2rem;
  border: none;
  border-radius: 1rem;
  background-color: var(--almost-black);
  color: var(--almost-white);
}
